.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.item-odd {
    background-image: linear-gradient(to bottom, red 40%, red);
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px green;
    color: black;
    line-height: 100px;
}

.item-even,
.item-last {
    background-color: #eeeff2;
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    border-top: 1px solid #687291;
    text-align: center;
    position: relative;
    animation: animateBox 5s linear 2s infinite alternate;
    line-height: 100px;
}

@keyframes animateBox {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:210px; top:0px;}
    50%  {background-color:blue; left:210px; top:210px;}
    75%  {background-color:green; left:0px; top:210px;}
    100% {background-color:red; left:0px; top:0px;}
}
